.showcasework {
  display: "flex" !important;
  flex-direction: "column";
  justify-content: "space-between";
  flex-grow: 1;
  width: "100%";
  height: "100%";
  font-family: "Comic Neue" !important;
}
.showcasework__appbar {
  margin-top: 5px;
  background-color: deepskyblue !important;

  top: 0;
  position: sticky !important;
}

.showcasework__appbar__tab {
  color: white !important;
  font-weight: 600 !important;
}
.showcasework__tabpanel {
  width: 100%;
  background-color: lightskyblue !important;
}
