.project {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.125fr 0.85fr 0.05fr;
  grid-template-areas:
    "title techStack"
    "desc techStack"
    "desc liveDemo";
  font-family: "Comic Neue" !important;
}

.project__title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  box-shadow: 1px 1px 3px 1px gold;
  border-radius: 0.5em;
  font-size: xx-large;
  font-weight: 700;
  font-variant-caps: titling-caps;
  background-color: transparent;
}

.project__desc {
  grid-area: desc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 50px 5px;
  border-radius: 0.5em;
  background-color: transparent;
  /* overflow: auto; */
}

.project__techStack {
  grid-area: techStack;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin: 20px 10px;
  border-radius: 0.5em;

  /* overflow: auto; */
}
.project__techStack__item {
  margin: 5px;
  padding: 5px 15px;
  background-color: darkblue !important;
  color: white !important;
}
.project__liveDemo {
  grid-area: liveDemo;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 0.5em;
  background-color: rgba(31, 255, 31, 0.7);
  box-shadow: 1px 1px 5px 1px rgba(65, 255, 65, 0.3);
  font-size: 16px;
  color: blue;
  cursor: pointer;
}
.project__liveDemo:hover {
  transition: all 0.5s ease;
  background-color: white;
  color: blueviolet;
  transform: scale(1.01);
}

@media only screen and (max-width: 1024px) {
  .project {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.01fr 0.5fr;
    grid-template-areas:
      "title"
      "techStack"
      "liveDemo"
      "desc";
  }
}
