.project {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.125fr 0.85fr 0.05fr;
  grid-template-areas:
    "title techStack"
    "desc techStack"
    "desc liveDemo";
  font-family: "Comic Neue" !important;
  gap: 20px;
}

.project__title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  font-size: xx-large;
  font-weight: 700 !important;
  font-variant-caps: titling-caps;
}

.project__desc {
  grid-area: desc;
  text-align: justify;
  padding: 20px;
  margin: 5px;
  margin-top: 50px;
  border-radius: 0.5em;
  /* height: max-content; */
  max-height: 80vh;
  overflow: auto;
}

.project__techStack {
  grid-area: techStack;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin: 5px;
  border-radius: 0.5em;

  /* overflow: auto; */
}
.project__techStack__item {
  margin: 5px;
  padding: 5px 15px;
  background-color: darkblue !important;
  color: white !important;
}
.project__liveDemo {
  grid-area: liveDemo;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 0.5em;
  font-size: 16px;
  background-color: white !important;
  color: blue !important;
  cursor: pointer;
}
.project__liveDemo:hover {
  transition: all 0.5s ease;
  background-color: rgba(31, 255, 31, 0.7) !important;
  color: blueviolet !important;
}

@media only screen and (max-width: 1024px) {
  .project {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.01fr 1.5fr;
    grid-template-areas:
      "title"
      "techStack"
      "liveDemo"
      "desc";
  }
}
