.intro {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.intro__part1 {
  background-color: rgba(0, 0, 0, 0.01);
  padding: 10px;
  margin: 10px;
  border-radius: 0.5rem;
  margin-top: 50px;
}
.intro__part1 > h2 {
  color: black;
  text-align: center;
}
.intro__part1 > h3 {
  margin-top: 20px;
}
.intro__part2 {
  background-color: rgba(255, 0, 0, 0.01);
  padding: 10px;
  border-radius: 0.5rem;
  height: 90%;
  margin: 10px;
}
.intro__part2 > h2 {
  color: tomato;
  text-align: center;
}

.intro__part2__tech_icons {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  place-content: center;
  place-items: center;
}
.intro__part2__tech_icons__item {
  width: 45px;
  padding: 5px;
  margin: 5px;
}

.intro__part3 {
  background-color: rgba(0, 0, 255, 0.01);
  padding: 10px;
  border-radius: 0.5rem;
  height: 90%;
  margin: 10px;
}
.intro__part3 > h2 {
  color: slateblue;
  text-align: center;
}

.intro__part3__social_icons {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  place-content: center;
  place-items: center;
}

.intro__part3__social_icons > .MuiButtonBase-root {
  margin: 0px;
  padding: 0px;
}
